{% extends "blocks.html.twig" %}

{% block asidebar %}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('records', {'block': block.id }) }}" class="btn btn-default">Records</a></li>
        <li role="presentation"><a href="{{ path('blocks_edit', {'block': block.id }) }}" class="btn btn-default">Config</a></li>
    </ul>
{% endblock %}