{% extends 'friends.html.twig' %}

{% block content %}
  <div class="col-lg-3">
    <div class="panel panel-default panel-body">
      <div class="panel-heading">Yours friends</div>
      <div class="panel-body">
        <ul class="list-group">
          {% for guest in user.guests  %}
            <li class="list-group-item">{{ guest.id }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="panel panel-default panel-body ">
      <div class="panel-heading">You may know</div>
      <div class="panel-body">
        <ul class="list-group">
          {% for user in users  %}
            <li class="list-group-item">{{ user.username }}
              <hr> <a href="" class="btn btn-default text-right">Add</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>


{% endblock %}
