{% extends 'base.html.twig' %}

{% block title_section %}
  Blocks
  <div class="btn-group pull-right">
    <a class="btn btn-primary" href="{{ path('blocks_create') }}">Create block <span class="glyphicon glyphicon-plus"></span></a>
  </div>
{% endblock %}
