{% extends 'base.html.twig' %}

{% block title_section %}
  {{ 'sections.blocks.title'|trans }}
  <div class="btn-group pull-right">
    <a class="btn btn-primary" href="{{ path('blocks_create') }}">{{ 'actions.create'|trans }} <span class="glyphicon glyphicon-plus"></span></a>
  </div>
{% endblock %}
