{% macro categories(categories) %}
     <tr>
       <td>{{form_widget(categories.category)}}</td>
       <td>
           <button type="button" class="btn btn-default">
             submit
           </button>
       </td>
     </tr>
 {% endmacro %}
